{% extends "layouts/base.html.twig" %}

{% block titre %}
Modifier un article
{% endblock %}

{% block main %}
<h1 class="text-center mt-5">Modifier une article</h1>
	{# {{ form(articleForm)}} #}

	{# Autre possibilité pour afficher le formulaire :
				En déconstruisant les différents éléments d'un form_row, on 
				aura le controle sur les différents élements _label, _widget, _erros #}
               
<div class="col-6 offset-3 my-5">
    <div class="row">
        {% for label,messages in app.flashes %}
            {% for message in messages %}
            <span class="alert alert-{{label}}"> {{message}}</span>
            {% endfor %}
        {% endfor %}
    </div>
	{{form_start(articleForm)}}
        <div>
            {{form_row(articleForm.name)}}
        </div>
        <div>
            {{form_row(articleForm.description)}}
        </div>
        {# On peut aussi modifier plus finement chacun des éléments #}
        {# <div class="group">
            {{form_label(articleForm.price)}}
            {{form_widget(articleForm.price)}}
            {{form_errors(articleForm.price)}}
        </div> #}
        <div>
            {{form_row(articleForm.price)}}
        </div>
        <div = class="col-3 offset-6">
            <button class="btn btn-primary" type="submit">Modifier</button>
        <div>
    {{form_end(articleForm)}}
</div>
	{% endblock %}
